/* Dark Mode Styles */
:root {
    --dark-bg: #121212;
    --dark-text: #fbfbfb;
    --dark-secondary: #1e1e1e;
    --dark-accent: #FF1515;
    --dark-border: #616161;
    --dark-hover: #2a2a2a;
    --light-text: #121212;
    --light-dark-border: #1d1d1d;
    --light-bg: #fbfbfb;
    --light-border: #d1d1d1;
    --red-accent: #FF1515;
  }
  body.dark-mode #map {
    border-color: var(--dark-border);
  }
  body.dark-mode #mobile-tablet-header {
    background: var(--dark-bg);
  }
  body.dark-mode .nav-links a {
    color:var(--dark-text);
  }
  body.dark-mode .nav-wrapper { 
    border-bottom: 1px solid var(--dark-border);
  }
  body.dark-mode .swiper-pagination-bullet{
    background-color: var(--red-accent);
  }
  body.dark-mode .details .name {
    color: var(--dark-text);
  }
  body.dark-mode .details .job {
    color: var(--dark-text);
  }
  body.dark-mode .slide p {
    color: var(--dark-text);
  }
body.dark-mode h3.small-header {
    color: var(--dark-text);
}
body.dark-mode #footer-bg::before {
    background-image: radial-gradient(#313131 1px, transparent 1px);
}
body.dark-mode #footer-bg::after {
    background: linear-gradient(to bottom, var(--dark-bg) 40%, rgba(18, 18, 18, 0)90%);
}
body.dark-mode .phil-box {
    border:1px solid var(--dark-border);
}


body.dark-mode .section-header-28{
  color: var(--dark-text);
}
body.dark-mode .image-container{
    border: 1px solid #858585;
}

body.dark-mode .project-left::after,
body.dark-mode .project-right::after {
  content: '';
  background: url('../img/plus-dark.svg') no-repeat center center / contain;
}

body.dark-mode .project-left:hover::after {
    transform: translateY(-50%) rotate(270deg);
}

body.dark-mode .project-right:hover::after {
    transform: translateY(-50%) rotate(270deg);
  }

body.dark-mode #hero-section::after {
    background: linear-gradient(to bottom, rgba(18, 18, 18, 0) 50%, #121212 90%);
}

body.dark-mode h1.my-name, body.dark-mode h2.title{
    color: var(--dark-text);
}
body.dark-mode .project-left:hover::before {
    border-color: var(--dark-border);
}
body.dark-mode .project-right:hover::before {
    border-color: var(--dark-border);
  
  }
body.dark-mode #top-nav .container {
    border-bottom-color:
    var(--dark-border);
  }
body.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

body.dark-mode #top-nav {
    border-right-color: var(--dark-border);
}

body.dark-mode #top-nav ul a {
    color: var(--dark-text);
}

body.dark-mode #top-nav ul a:hover::before {
    background-color: var(--dark-accent);
}

body.dark-mode #top-nav ul li {
    border-bottom-color: var(--dark-border);
}

body.dark-mode .section-header {
    color: var(--dark-text);
}

body.dark-mode .description {
    color: var(--dark-text);
}

body.dark-mode .taxonomy {
    color: #888888;
}

body.dark-mode .gradient-button, body.dark-mode .submit-button {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    border-color: var(--dark-text);
    box-shadow: -1px 1px 0px 1px #fbfbfb;
}

body.dark-mode .gradient-button:hover, body.dark-mode .submit-button:hover {
    background-color: var(--dark-bg);
    box-shadow: -2px 2px 0px 1px #fbfbfb;
}

body.dark-mode .devider {
    border-top-color: var(--dark-border);
}

body.dark-mode #footer-section {
    background-color: var(--dark-bg);
}

body.dark-mode .feather-arrow-down {
    stroke: var(--dark-text);
}

/* Theme Switcher Styles */
.theme-switch {
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

.theme-switch svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke:var(--light-text);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 0.3s ease;
}

body.dark-mode .theme-switch svg {
    stroke: var(--dark-text);
}

/* Sun Icon for Dark Mode */
body.dark-mode .theme-switch svg path {
    d: path("M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z");
}

/* Logo Dots Styles */
body.dark-mode #logo-wave rect[fill="black"] {
    fill: var(--dark-text);
}

/* Image Source Changes for Dark Mode */

/* Toggle Switch Styles */
.toggle-switch {
  width: 43px;
  height: 20px;
  border-radius: 19px;
  border: 1px solid var(--light-dark-border);
  background: var(--light-bg);
  position: relative;
  transition: background 0.3s, border 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-ball {
  width: 12px;
  height: 12px;
  background: var(--light-text);
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 3px;
  transition: left 0.3s, background 0.3s;
}

body.dark-mode .toggle-switch {
  border: 1px solid var(--dark-text);
  background: var(--dark-bg);
}

body.dark-mode .toggle-ball {
  background: var(--dark-text);
  left: 25px;
}

body.dark-mode .side-nav {
  background:   var(--dark-bg);
  color: var(--dark-text);

}

body.dark-mode .main-content {
  background: var(--dark-bg);
}
