@font-face {
    font-family: 'biryanibold';
    src: url('Biryani-Bold-webfont.eot');
    src: url('Biryani-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Biryani-Bold-webfont.woff2') format('woff2'),
         url('Biryani-Bold-webfont.woff') format('woff'),
         url('Biryani-Bold-webfont.ttf') format('truetype'),
         url('Biryani-Bold-webfont.svg#biryanibold') format('svg');
    font-weight: normal;
    

}
@font-face {
    font-family: 'biryanilight';
    src: url('Biryani-Light.eot');
    src: url('Biryani-Light.eot?#iefix') format('embedded-opentype'),
         url('Biryani-Light.woff2') format('woff2'),
         url('Biryani-Light.woff') format('woff'),
         url('Biryani-Light.ttf') format('truetype'),
         url('Biryani-Light.svg#biryanilight') format('svg');
    font-weight: 200;
    

}

@font-face {
    font-family: 'biryaniextralight';
    src: url('Biryani-ExtraLight.eot');
    src: url('Biryani-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('Biryani-ExtraLight.woff2') format('woff2'),
         url('Biryani-ExtraLight.woff') format('woff'),
         url('Biryani-ExtraLight.ttf') format('truetype'),
         url('Biryani-ExtraLight.svg#biryanilight') format('svg');
    

}

@font-face {
    font-family: 'biryaniregular';
    src: url('Biryani-Regular-webfont.eot');
    src: url('Biryani-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Biryani-Regular-webfont.woff2') format('woff2'),
         url('Biryani-Regular-webfont.woff') format('woff'),
         url('Biryani-Regular-webfont.ttf') format('truetype'),
         url('Biryani-Regular-webfont.svg#biryanilight') format('svg');
    font-weight: normal;
    font-style: normal;

}

