@font-face {
    font-family: 'biryanibold';
    src: url('Biryani-Bold-webfont.eot');
    src: url('Biryani-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Biryani-Bold-webfont.woff2') format('woff2'),
         url('Biryani-Bold-webfont.woff') format('woff'),
         url('Biryani-Bold-webfont.ttf') format('truetype'),
         url('Biryani-Bold-webfont.svg#biryanibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'biryanilight';
    src: url('Biryani-Light-webfont.eot');
    src: url('Biryani-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Biryani-Light-webfont.woff2') format('woff2'),
         url('Biryani-Light-webfont.woff') format('woff'),
         url('Biryani-Light-webfont.ttf') format('truetype'),
         url('Biryani-Light-webfont.svg#biryanilight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'biryaniregular';
    src: url('Biryani-Regular-webfont.eot');
    src: url('Biryani-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Biryani-Regular-webfont.woff2') format('woff2'),
         url('Biryani-Regular-webfont.woff') format('woff'),
         url('Biryani-Regular-webfont.ttf') format('truetype'),
         url('Biryani-Regular-webfont.svg#biryanilight') format('svg');
    font-weight: normal;
    font-style: normal;

}

