.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  min-height: 450px;
}


.hero-image {
  flex: 1;
  padding: 20px;
}

.hero img {
  max-width: 100%;
  height: auto;
}
 #hero-section {
    position: relative;
    width: 100%;
    min-height: 450px; /* Ensures the hero is never smaller than 567px */
    height: 40vh; /* Adjust as needed */
    overflow: hidden;
}

#hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, #FBFBFB 100%);
    pointer-events: none;
    z-index: 1;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.hero {
    position: relative;
    z-index: 2;
    color: black;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding:20px;
    min-height: 420px;
}

h1.my-name{
    font-family: 'biryanibold';
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 0;
    color: #0C0C0C;
    margin-top: 35px;
}
h2.title{
    font-family: 'biryaniregular';
    font-size: 16.5px;
    margin-top:5px;
    color: #0C0C0C;
}
.logo-header {
    display: flex;
  }
  .hero-text {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .feather.feather-arrow-down {
    width: 35px;
    display: block;
    margin: 30px auto;
  }
  .feather-arrow-down {
    animation: pulsate 1s infinite;
  }