.modal {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    align-items: center;  /* vertically center */
    justify-content: center; /* horizontally center */
  }
  .modal-inner {
    max-width: 900px;
    width: 100%;
    position: relative;
  }
  
  .slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    max-width: 160%;
    max-height: 160%;
    transform: scale(1.2);
    animation: zoomIn 0.3s ease;
    transition: transform 0.3s ease;
    z-index: 1;
  }
  
  .slider-nav {
    font-size: 60px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
  }
  
  .slider-nav.left {
    position: absolute;
    left: -60px; /* move it outside slightly if needed */
  }
  
  .slider-nav.right {
    position: absolute;
    right: -60px;
  }
  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1.2); /* or your desired zoom level */
    }
  }
  @media (max-width: 1020px) {
    .slider-nav.left {
      left: 10px;
      position: absolute;
    }
    .slider-nav.right {
      right: 10px;
      position: absolute;
    }
  }
  