/* General Styles */

#top-nav ul{
  font-family: 'biryanilight';
  font-size:14px;
}

#top-nav ul a {
  color: #0c0c0c;
  text-decoration: none;
  position: relative;
}
#top-nav ul a:hover {
  text-decoration:none; 
}
#top-nav ul a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FF1515;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#top-nav ul a:hover::before {
  transform: scaleX(1);
}
#top-nav ul li:last-child {
  border-right: none;
}
#top-nav ul li {
padding:0 5px;
border-right:1px solid #cdcdcd;
}
.nav-style {
  display: flex;
  padding:10px;
  justify-content: inherit;
  height: 50px;
}
.top-logo {
  height: 45px;
}
#top-nav .container {
  border-bottom:
1px solid #cdcdcd;
}
#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fbfbfb;
  color: white;

  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

#top-nav.visible {
  transform: translateY(0);
  display: block;
  z-index:9999999;
  padding:0;
}

.hidden {
  display: none;
}
p {
  font-size:17px;
  line-height: 140%;
 }
.flex{
  display: flex;
}
.logo-box img {
  width: 180px;
}
body {
    margin: 0;
    background: #fbfbfb;
    margin: 0;
    padding: 0;
    margin: auto;
}
.taxonomy{
  font-size: 14px;
  color:#bababa;
  font-family: 'biryanilight';
  text-align: left;
  margin-bottom: 5px;
  font-weight: lighter;
}
.red-line {
    position: absolute;
  }
  #reveal-elements {
    margin-top: 4.2rem;
  }
.devider {
    border-top: 1px solid #cdcdcd;
    margin-bottom: 15px;
    padding: 0;
    margin: 0;
    position: relative;
  }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}



main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.projects {
    display: flex;
    z-index: 99;
    position: relative;
    margin: auto;
}
 h3.devider-heading{
    font-family: 'biryanilight';
    margin-bottom:5px;
    font-size:21px;
    font-weight:lighter;
 }
 .section-header {
    font-size: 21px;
    font-family: 'biryaniregular';
    color: #0c0c0c;
    margin:10px 0 0 0;
    text-align: left;
  }

  .description {
    margin-top: 5px;
    text-align: left;
  }
  .gradient-button:active {
    transform: translate(0, 0);
    box-shadow: -1px 1px 0px 1px #000;
  }
  .gradient-button:hover {
    box-shadow: -2px 2px 0px 1px #000;
    transform: translate(2px, -2px);
  }
  .gradient-button {
    text-align: center;
    font-family: 'biryanibold';
    padding: 10px 10px 6px;
    font-size: 18px;
    color: #000;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.5s ease-in-out, transform 100ms ease-in-out, box-shadow 100ms ease-in-out;
    border: 1px solid #000;
    width: 160px;
    display: block;
    box-shadow: -1px 1px 0px 1px #000;
    line-height: 1.5;
    margin-top:35px;
  }


  @media screen and (min-width: 992px) {
    .container{
      max-width: 1100px;
      margin:auto;
     }
     .projects {
      width: 1060px;
     }
    }