/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.copyright {
  z-index: 99;
  display: flex;
  margin:25px;
}
.copy-text p {
  font-size: 12px;
  font-family: 'biriyaniregular', sans-serif;
  margin-left: 10px;
}
.bottom-logo {
  height: 30px;
}
.swipe-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.testimonial {
  position: relative;
  max-width: 1000px;
  width: 100%;
  padding: 30px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 130px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  font-family: 'biryanibold';
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'biryanilight';
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  font-family: 'biryanibold';
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #FF1515;
}
@media screen and (max-width: 768px) {
  
  .nav-btn {
    display: none;
  }
}
