.form-container {
      width: 100%;
      margin: 0 auto;
    }

    .form-row {
      display: flex;
      gap: 20px;
      margin-bottom: 15px;
    }

    .form-row div {
      flex: 1;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input, textarea {
      width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
      
    }

    textarea {
      resize: vertical;
      height: 100px;
    }

    